[Desktop Entry]
Name=CImg Image Restoration Filter
Name[de]=Filter CImg-Bildrestauration
Name[el]=Φίλτρο αποκατάστασης εικόνων CImg
Name[en_GB]=CImg Image Restoration Filter
Name[es]=Filtro de restauración de imagen CImg
Name[et]=CImg pildi restaureerimise filter
Name[fr]=Filtre de restauration d'images CImg
Name[ga]=Scagaire Athchóirithe Íomhá CImg
Name[gl]=Filtro de restauración de imaxes CImg
Name[it]=Filtro ripristino immagini CImg
Name[km]=តម្រង​ស្ដារ​រូបភាព CImg
Name[nds]=CImg-Filter för't Bild-Wedderherstellen
Name[nl]=CImg afbeeldingsrestauratiefilter
Name[pt]=Filtro de Restauro de Imagens
Name[pt_BR]=Filtro de Restauração de Imagens
Name[sv]=Cimg-bildrestaureringsfilter
Name[tr]=CImg Resim Yenileme Süzgeci
Name[uk]=Фільтр ретушування зображення CImg
Name[x-test]=xxCImg Image Restoration Filterxx
Comment=CImg Image restoration filter
Comment[el]=Φίλτρο αποκατάστασης εικόνων CImg
Comment[en_GB]=CImg Image restoration filter
Comment[es]=Filtro de restauración de imagen CImg
Comment[et]=CImg pildi restaureerimise filter
Comment[fr]=Filtre de restauration d'images CImg
Comment[ga]=Scagaire athchóirithe Íomhá CImg
Comment[gl]=Filtro de restauración de imaxes CImg
Comment[it]=Filtro per il ripristino di immagini CImg
Comment[km]=តម្រង​ស្ដារ​រូបភាព CImg ឡើង​វិញ
Comment[nds]=Op CImg opbuut Filter för't Bild-Wedderherstellen
Comment[nl]=CImg afbeeldingrestauratiefilter
Comment[pt]=Filtro de restauro de imagens do CImg
Comment[pt_BR]=Filtro de restauração de imagens do CImg
Comment[sv]=Cimg-bildrestaureringsfilter
Comment[tr]=CImg resim yenileme süzgeci
Comment[uk]=Фільтр ретушування зображення CImg
Comment[x-test]=xxCImg Image restoration filterxx
X-KDE-ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritacimg
X-Krita-Version=3
