[Desktop Entry]
Name=CImg Image Restoration Filter
Comment=CImg Image restoration filter
X-KDE-ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritacimg
X-Krita-Version=3
